@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: red;
    padding: 0px 100px 0px 50px;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 5px;

}

.navbar a,
i {
    color: #3A3A3A;

    font-size: 16px;
    text-decoration: none;
    margin-left: 34px;
    text-align: center;
    font-weight: 600;

}

i {
    margin-top: 5px;
    color: white;

}